/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#product_cart{
    width: 100%;
    height: 100vh;
    background-color: beige;
  
}

.card:hover{
    box-shadow: 6px 6px #ccc,
    12px 12px #a3a3a3;
    cursor: pointer;
    transform: scale(1.1,1.1);
    transition: 0.8s;

}

#button_sec{
    width: 100%;
    height: 100vh;
}


.button_yasil{
    width: 25px;
}


.img{
    width: 100%;
} */